/*
.eventDivRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventPosterLeft {
    margin-left: 10px;
    margin-top: 10px;
    width: 400px;
    float: left;
}

.eventTextRight {
    padding-right: 20px;
    padding-top: 20%;
    float: right;
}
*/

#eventText {
    color: var(--accent);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 40px;
}

.event {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.event p {
    display: inline-block;
    width: 30%;
    font-size: larger;
    text-align: center;
}

.event img {
    border-radius: 15px;
    width: 30%;
    height: auto;
    display: inline-block;
}

.textHeader {
    color: var(--accent);
    font-size: 30px;
    font-weight: bold;
}
