#frontPicture
{
    background-color: var(--tertiaryAccent);
}

#mainImage
{
    display: inline;
    width: 100%;
    height: 700px;
    margin-bottom: -7px;
}

#mainText
{
    color: var(--accent);
    text-align: center;
    margin-right: 2%;
    margin-bottom: 0px;
    margin-top: 50px;
}
/*
#underMainText
{
    color: black;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    margin-right: 2%;
    margin-top: 0px;

} */

#frontPageText
{
    margin-left: 2%;
    margin-right: 2%;
}

img.frontPagePhotos
{
    margin-top: 20px;
    transition-duration: .5s;
    transition-property: transform, border-radius;
}

img.frontPagePhotos:hover
{
    transform: scale(1.1);
    border-radius: 10px;
}

.frontPagePhotosMainText
{
    color: var(--accent);
    font-size: 20px;
    line-height:3px;
    
}

.frontPagePhotosSubText
{
    line-height: 2px;
    font-size: 15px;

}

.quoteImage
{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 1430px;
    height: 500px;
}

#winnerPhoto
{
    width: 450px;
    height: 300px;
    margin-left: 230px;
    border-radius: 10px;
}

#winnerText
{
    vertical-align: top;
    font-size: 50px;
    margin-top: 110px;
    margin-left: 110px;
    display: inline-block;
}

#dinnerPhoto
{
    width: 450px;
    height: 300px;
    margin-left: 730px;
    border-radius: 10px;
}

#dinnerText
{
    vertical-align: top;
    font-size: 50px;
    margin-top: -200px;
    margin-left: 400px;
    display: inline-block;
}

.e
{
    margin-top: 200px;
}



.footerBox
{
    margin-top: 100px;
    background-color: var(--secondaryBackground);
    height: 250px;
}

/*
#frontPageGallery
{
    margin-left: 1%;
}

#frontPageGallery div
{
    display: inline;
}

#frontPageGallery div p
{
    display: inline;
}
*/

.frontPagePhotos
{
    width: 290px;
    height: 150px;
}


#frontPageGallery
{
    display: flex;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    text-align: center;
}


#frontPageGallery a
{
    margin: 32px;
}