/* all */
@font-face
{
    font-family: Heebo;
    src: url('/assets/fonts/Heebo/Heebo-VariableFont_wght.ttf');
}

:root
{
    --background: rgb(238, 238, 238);
    --secondaryBackground: rgb(34, 40, 49);
    --tertiaryAccent: rgb(57, 62, 79);
    --accent: rgb(214, 90, 49);
    --secondaryAccent: rgb(217, 43, 57);
    --text: rgb(0, 0, 0);
    --font: Heebo;
}

body
{
    background-color: var(--background);
    color: var(--text);
    padding: 0;
    margin: 0;
}

body,
button,
input,
textarea
{
    font-family: var(--font), Arial, Helvetica, sans-serif;
}

/* index.html */



/* includes/menuBar.html */
#menuBar
{
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--secondaryBackground);
    color: var(--accent);
}

#menuBar a
{
    display: inline-block;
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    margin-top: 14px;
    margin-left: 10px;
    transition: color .5s;
}

#menuBar a:hover
{
    color: var(--secondaryAccent);
}